body {
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@media (min-width: 970px) {
	.sidebar {
		width: 250px;
		height: 100%;
		position: fixed;
	}

	.profile-image {
		width: 100%;
		position: absolute;
		bottom: 0px;
	}

	.title {
		margin: 40px 20px;
		font-size: 2em;
		font-weight: bold;
	}

	.main-nav {
		margin: 0 20px 0;
		padding: 0px;
		list-style-type: none;
	}

	.main-nav li {
		margin: 10px 0;
	}

	.nav-link {
		font-size: 16px;
		color: #999;
		text-decoration: none;
		font-weight: bold;
		transition: all .5s;
		-webkit-transition: all .5s;
	}

	.nav-link:hover {
		color: #272727;
	}

	.content {
		position: fixed;
		left: 250px;
		height: 100%;
		width: calc(100% - 250px);
		background: #272727;
		overflow-y: auto;
	}
}

@media (max-width: 970px) {
	.sidebar {
		width: 100%;
		height: 150px;
		position: fixed;
	}

	.profile-image {
		display: none;
	}

	.title {
		margin: 40px 20px 10px 20px;
		font-size: 2em;
		font-weight: bold;
	}

	.main-nav {
		margin: 0 20px 0;
		padding: 0px;
		list-style-type: none;
	}

	.main-nav li {
		margin: 10px 20px 10px 0px;
		float: left;
	}

	.nav-link {
		font-size: 16px;
		color: #999;
		text-decoration: none;
		font-weight: bold;
		transition: all .5s;
		-webkit-transition: all .5s;
	}

	.nav-link:hover {
		color: #272727;
	}

	.content {
		position: fixed;
		left: 0px;
		top: 150px;
		width: 100%;
		height: calc(100% - 150px);
		background: #272727;
		overflow-y: auto;
	}
}

@media (min-width: 1050px) {
	.post-list {
		margin: 0px;
		padding: 40px;
		list-style-type: none;
	}

	.post {
		width: 275px;
		height: 260px;
		background-color: #303030;
		padding: 0 18px;
		float: left;
		margin-left: 40px;
		margin-bottom: 40px;
		font-size: 14px;
	}

	.post:hover {
		background-color: #181818;
		color: white;
	}

	.post:hover > .post-highlight {
		width: 311px;
	}

	.post-highlight {
		position: relative;
		width: 0;
		height: 5px;
		left: -18px;
		transition: width .2s;
		-webkit-transition: width .2s;
	}
}

@media (max-width: 1050px) {
	.post-list {
		margin: 0px;
		padding: 0px;
		list-style-type: none;
	}

	.post {
		width: calc(100% - 36px);
		height: 150px;
		background-color: #303030;
		padding: 10px 18px;
		font-size: 14px;
	}

	.post:hover {
		background-color: #181818;
		color: white;
	}

	.post:hover > .post-highlight {
		height: 170px;
	}

	.post-highlight {
		width: 5px;
		height: 0px;
		float: left;
		margin-left: -18px;
		margin-top: -10px;
		transition: height 0s; 
		-webkit-transition: height 0s;
	}
}

.post-link {
	text-decoration: none;
	color: #999;
	font-size: 14px;
}

.post-header {
	font-size: 26px;
}

.yellow-text {
	color: #f1dc33;
}

.blue-text {
	color: #35b1ea;
}

.green-text {
	color: #92e451;
}

.purple-text {
	color: #c495f5;
}

.teal-text {
	color: #1deeee;
}

.pink-text {
	color: #f56acc;
}

.yellow-background {
	background-color: #f1dc33;
}

.blue-background {
	background-color: #35b1ea;
}

.green-background {
	background-color: #92e451;
}

.purple-background {
	background-color: #c495f5;
}

.teal-background {
	background-color: #1deeee;
}

.pink-background {
	background-color: #f56acc;
}
